body {
  height: 100%;
  margin: 0;
  background-color: green;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  height: 500px;
  min-height: 100px;
  max-height: 700px;
  width: 350px;
  min-width: 70px;
  max-width: 450px;
  background-color: white;
  display: flex;
  border-radius: 15px;
  border: solid 2px black;
  flex-direction: column;
  margin-top: 50px;
}

#upper-suit {
  font-size: 90px;
  display: flex;
  justify-content: flex-start;
  margin-left: 0.2em;
}

#random-number {
  font-size: 140px;
  justify-content: space-around;
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
}

#lower-suit {
  font-size: 90px;
  display: flex;
  justify-content: flex-end;
  margin-right: 0.2em;
}

#balatro-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ffffff;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 18px;
  cursor: grab;
}

#height-hint {
  margin-top: 20px;
  font-family: Balatro;
  text-align: center;
  color: #d50606;
  font-size: 40px;
}

input {
  width: 30%;
  padding: 5px;
  font-size: 16px;
  border: 2px solid #a62c2c;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgb(255, 0, 0);
  text-align: center;
}

@font-face {
  font-family: "Balatro";
  src: url("/src/fonts/Thin\ sans.ttf") format("truetype");
}
